.validation-summary-errors > ul {
    padding-left: 15px;
    color: red;
}

.register-user-panel input[type-text].form-control,
.register-user-panel input[type-password].form-control {
    margin-bottom: 3px;
    margin-top: 3px;
}

.register-user-panel input[type-checkbox] {
    margin-left: 10px;
}

.register-user-panel .glyphicon-user,
.register-user-panel .glyphicon-envelope,
.register-user-panel .glyphicon-lock {
    padding-left: 0px;
}

.register-user-panel button {
    padding-top: 5px;
    margin-top: 10px;
}
